body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
    
  }

.opis {
    width: 50%;
    height: 20%;

  background-color: #000;
  color: #fff;
  opacity: .5;
  text-align: center;
  border-radius: 15px;
}

.picture-out {
  
  text-align: left;
}

.picture-out h2 {
  
  padding-right: 40%;
  text-align: center !important;
}

.picture-in {
  position: relative; 
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center; 

}


#picture {
  margin-right:auto;
  max-width: 30%;
  max-height: 40%;
    border-radius: 5%;
}

.tekst {
  font-size: larger;
  margin-top: 5%;

  background-color: #000;
  color: #fff;
  opacity: .5;
  text-align: center;
  border-radius: 15px;
}


h1{
    color: #333;
    text-align: center;
    margin-bottom: 2vh;
}

.opis p {
  padding: 20px;
  margin: 20px;
}

@media screen and (max-width: 767px) {
  body {
      background-position: center;
  }

  .picture-in {
    width: 100%;
    height: 20%;
    flex-direction: row; /* Revert to horizontal layout */
    align-items: center; /* Center items vertically */
  }
  .picture-out h2 {
  
    padding-right: 0%;
  }

  .tekst {
    width: 100%;
    height: 20%;
  }
  .tekst p {
    padding: 20px;
  margin: 20px;
  }

}