body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
    
  }

.opis {
    width: 50%;
    height: 20%;

  background-color: #000;
  color: #fff;
  opacity: .5;
  text-align: center;
  border-radius: 15px;
}

#lipstick {
    width: 50%;
    height: 10%;
    border-radius: 5%;
}
h1{
    color: #333;
    text-align: center;
}

p {
  padding: 20px;
  margin: 20px 0;
}